@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1 {
  font-size: 2.5rem;
  color: #4d3efc;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
p {
  margin: 0;
  font-size: 1.25rem;
  color: #1e2024;
  text-align: center;
}

h2 {
  text-align: center;
  color: #1e2024;
  margin: 0;
  margin-bottom: 0.83em;
}

h3 {
  text-align: center;
  color: #1e2024;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

footer {
  width: 100%;
  background-color: #4d3efc;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: auto;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: white;
  height: 5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.logo {
  height: 3rem;
  width: auto;
}

.contact-button {
  background-color: transparent;
  border: solid 1px #4d3efc;
  color: #4d3efc;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #4d3efc;
  color: #fff;
}

.about {
  width: 100%;
  background-color: #4d3efc;
  display: flex;
  justify-content: center;
  padding: 5rem 0 10rem 0;
}
.about-text-container {
  width: 60rem;
}

.hero-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

.rocket {
  height: 100%;
  width: auto;
}

.rocket-container {
  display: flex;
  justify-content: center;
  height: 20rem;
  width: auto;
}

.white-text {
  color: #fff;
}

.skills {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -5rem;
  flex-wrap: wrap;
}

.skill-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  background-color: #fff;
  box-shadow: 0 5px rgba(233, 240, 243, 0.5);
  border: 1px solid rgba(30, 32, 36, 0.2);
}

.skill-column-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right-width: 0px;
}

.skill-column-right {
  border-left-width: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.skill-icon {
  width: 48px;
  height: 48px;
  margin: 2rem auto;
}

.skill-description {
  font-size: 1rem;
}

.companies-container {
  padding: 8rem 0;
}

.companies-logo-container {
  display: flex;
  max-width: 60rem;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.company-logo {
  display: flex;
  height: 2.5rem;
  width: auto;
  padding: 2rem 0;
  align-items: center;
}

.saks {
  height: 1.5rem;
  width: auto;
}

.social {
  height: 2rem;
  text-align: center;
  opacity: 0.5;
  margin: 0 1rem;
  cursor: pointer;
}

.social:hover {
  opacity: 1;
}

@media screen and (max-width: 769px) {
  .company-logo {
    width: 50%;
    justify-content: center;
  }

  .rocket {
    width: 100%;
  }

  .skill-column {
    max-width: 100%;
    border: 1px solid rgba(30, 32, 36, 0.2);
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 1025px) {
  .top-bar {
    margin: 0 2rem;
  }
}
